<div class="row" *ngIf="member">
  <div class="col-4">
    <div class="card">
      <img src="{{member.PhotoUrl || './asset/user.png'}}" alt="{{member.KnownAs}}"
           class="card-img-top img-thumbnail" />
      <div class="card-body">

        <div>
          <strong>Location:</strong>
          <p>{{member.City}} , {{member.Country}}</p>
        </div>

        <div>
          <strong>Age:</strong>
          <p>{{member.Age}}</p>
        </div>

        <div>
          <strong>Last Active:</strong>
          <p>{{member.LastActive | timeago}}</p>
        </div>

        <div>
          <strong>Member Since:</strong>
          <p>{{member.Created | date: 'dd MMM yyyy' }}</p>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary">Like</button>
            <button class="btn btn-success" (click)="selectTab(3)">Message</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-8">
    <tabset class="member-tabset" #memberTabs>

      <tab heading='About {{member.KnownAs}}' (selectTab)="onTabActivated($event)">
        <h4>Description</h4>
        <p>{{member.Introduction}}</p>
        <h4>Looing For</h4>
        <p>{{member.LookingFor}}</p>
      </tab>

      <tab heading='Interests' (selectTab)="onTabActivated($event)">
        <h4>Interests</h4>
        <p>{{member.Interests}}</p>
      </tab>

      <tab heading='Photos' (selectTab)="onTabActivated($event)">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"
                    style="display: inline-block; margin-bottom: 20px;" ></ngx-gallery>
      </tab>

      <tab heading='Messages' (selectTab)="onTabActivated($event)">
        <app-member-messages [messages]="messages" [username]="member.UserName"></app-member-messages>
      </tab>

    </tabset>
  </div>
</div>
